body {
  background-color: rgba(45, 48, 54, 1);
  margin: 0;
  font-family: Andale Mono, monospace;
  font-size: 10pt;
  overflow: hidden;
}

.head {
  display: flex;
  flex-wrap: wrap;
  height: 33%;
}


#video-container {
  height: 100%;
  display: flex;
  flex: none;
  width: 60vh;
  position: relative;
}

#data-container {
  display: flex;
  flex: 1;
  position: relative;
}

video {
  height: 100%;
}

#video-container.empty video {
  display: none;
}

.drag-instructions {
  display: none;
  position: absolute;
  top: 10%;
  height: 80%;
  left: 10%;
  width: 80%;
  border: 3px dotted rgba(25, 116, 121, 0.5);
  border-radius: 10px;
  padding: 50px;
  font-size: 4vh;
  font-weight: bold;
  color: rgba(25, 116, 121, 0.5);
  box-sizing: border-box;
}

.dragging .drag-instructions, .empty .drag-instructions {
  display: block;
}

#current-time {
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: rgba(0,128,255,.2);
  margin-left: -25px;
  z-index: 1;
}

#current-time:after {
  content: '';
  border: 1px solid rgb(0,128,255);
  position: absolute;
  height: 100%;
  width: 0;
  top: 0;
  left: 50%;
}

#controls {
  display: flex;
  flex: 1;
  padding: 1em;
}

.empty #controls {
  display: none;
}

#controls label {
  color: #9e9e9e;
  font-size: 1em;
  display: block;
  padding: .2em;
}

#controls .center {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 31vh;
}

#controls .control-row {
  display: flex;
  flex: 1;
}

#controls .field {
  flex: 1;
}

#controls input {
  font-family: Andale Mono, monospace;
  color: #fff;
  border: none;
  background: none;
  font-size: 1.1vw;
  line-height: 1.4vw;
  margin-bottom: .8em;
  width: 100%;
  padding: .2em;
}

#map {
  display: flex;
  flex: 1;
  height: 100%;
}
#map .gm-style-cc { display: none; }
.empty #map { display: none; }

canvas {
  width: 100%;
  height: 11vh;
}

#edit-pane {
  position: absolute;
  left:0;
  width: 100%;
  bottom:-340px;
  height: 340px;
  opacity: .95;
  transition: bottom .2s ease;
  z-index: 2;
}

#edit-control {
  background-color: rgba(144, 143, 135, 0.95);
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: rgba(255,255,255,.6);
  height: 40px;
  text-align: right;
}

#script-error {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  padding-left: 2em;
  color: #b32f2f;
}

input.signal-name {
  background: none;
  border: none;
  color: rgba(255,255,255,.66);
  font-family: Andale Mono, monospace;
  position: absolute;
  left: 5vh;
  top: 0;
  font-size: 2.5vh;
}

#edit-control button {
  display: inline-block;
  height: 40px;
  margin: 0 6px;
  padding: .4em 2em;
}

.editing #edit-pane {
  bottom: 0;
}

#editor {
  width: 100%;
  height: 300px;
}

button {
  font-family: Andale Mono, monospace;
  margin: 2em auto;
  display: block;
  background: none;
  border: none;
  color: #eee;
  font-size: 1.2em;
  padding: .4em 4em;
  transition: background-color .1s linear;
}

button:hover {
  color: #fff;
  background: rgba(255,255,255,.2);
  cursor: pointer;
}

#graphs {
  width: 100%;
  position: relative;
}

#add-signal {
  color: rgba(255,255,255,.6);
  width: 100%;
  margin: 2em 0;
  height: 2em;
  line-height: 1em;
  text-align: left;
  padding: 0 0 0 5vh;
  font-size: 2.5vh;
}
#add-signal:hover {
  color: #fff;
}

#add-marker {
  display: none;
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: left;
}

.selection #add-marker {
  display: inline-block;
}

#signals {
  height: 64%;
  width: 100%;
  overflow-y: auto;
  padding-top: 1em;
  position: relative;
  -webkit-user-select: none;
}

#selection {
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  background-color: rgba(209, 197, 33, 0.15);
  border-right: 1px solid rgba(209, 197, 33, 0.6);
  border-left: 1px solid rgba(209, 197, 33, 0.6);
}

#markers {
  width: 100%;
}

.marker {
  position: absolute;
  opacity: .3;
  top: 0;
  height: calc(100% + 28px);
}

.marker .marker-name {
  position: absolute;
  bottom: 0;
  background: none;
  border: none;
  padding: 2px;
  font-size: 14px;
  font-weight: bold;
  color: rgb(26,25,27);
  width: calc(100% - 46px);
  left: 23px;
  text-align: center;
}

.marker .color {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 23px;
  height: 23px;
  border: none;
  opacity: 0;
  transition: opacity .2s linear;
}
.marker:hover {
  opacity: 1;
}

.marker:hover .color {
  opacity: 1;
}

.marker-controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 23px;
}

.marker:hover .marker-controls {
  width: 12vw;
  left: calc(50% - 6vw);
}

.marker:hover .marker-name {
  color: #fff;
}

.marker .remove {
  position: absolute;
  margin: 0;
  padding: 0 3px;
  color: #000;
  font-size: 24px;
  line-height: 20px;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s linear;
}
.marker:hover .remove {
  opacity: 1;
}
.marker .remove:hover {
  background-color: #fff;
}

.signal {
  margin-bottom: 1em;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
.signal:last-of-type {
  margin-bottom: 0;
}

.signal-controls {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: opacity .2s linear;
  text-align: right;
}

.signal:hover .signal-controls {
  opacity: 1;
}

.signal-controls button {
  display: inline-block;
  padding: .4em 2em;
  margin-right: 1em;
  background-color: rgba(60,60,60,.6);
}
.signal-controls button:hover {
  background-color: rgba(200,200,200,.6);
}

.signal-controls .color {
    border: none;
    width: 2.2em;
    height: 2.2em;
    margin-right: 2em;
}
